<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186187527394-j7hjhqihrj1c7k5ck73t9u19nkqpvhbh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186187527394-j7hjhqihrj1c7k5ck73t9u19nkqpvhbh</string>
	<key>API_KEY</key>
	<string>AIzaSyB85wAs91GJmjfIBj9XzsmsXyJOtrQJbVA</string>
	<key>GCM_SENDER_ID</key>
	<string>186187527394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.QPAMobile</string>
	<key>PROJECT_ID</key>
	<string>parking-applilation</string>
	<key>STORAGE_BUCKET</key>
	<string>parking-applilation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186187527394:ios:2b2b93277cd001ae2c5abb</string>
</dict>
</plist>